@charset "UTF-8";
html, body {
  font-family: 'Roboto',Arial,sans-serif;
  margin: 0;
  padding: 0; }

.container {
  width: 940px;
  margin: 0 auto; }

input, button {
  outline: none;
  border: none; }

h2, h1, h4, h3, p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

.navBurger {
  z-index: 99;
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
  background: #30ac0b;
  box-sizing: border-box;
  background-clip: content-box;
  width: 30px;
  height: 24px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .navBurger:before, .navBurger:after {
    content: "";
    position: absolute;
    background: #30ac0b;
    height: 2px;
    width: 100%;
    right: 0;
    will-change: rotate;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .navBurger:before {
    top: -10px; }
  .navBurger:after {
    bottom: -10px;
    width: 90%; }
  .navBurger.active {
    background: transparent;
    background-clip: content-box; }
  .navBurger.active:before {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    top: 0;
    background: #eee;
    width: 110%; }
  .navBurger.active:after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
    background: #eee;
    width: 110%; }

.menu__link {
  color: #ffffff;
  text-decoration: none;
  /*╤Г╨▒╨╕╤А╨░╨╡╤В ╨╜╨╕╨╢╨╜╨╡╨╡ ╨┐╨╛╨┤╤З╨╡╤А╨║╨╕╨▓╨░╨╜╨╕╨╡*/
  text-transform: uppercase;
  /*╨С╤Г╨║╨▓╤Л ╨║╨░╨┐╤Б╨╛╨╝*/
  -webkit-transition: 0.4s;
          transition: 0.4s;
  list-style-type: none; }

.menu__link_active {
  color: #3fba1a; }

li {
  list-style-type: none; }

.menu__list {
  padding-left: 0px; }

.header__menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 91;
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: 0.5s;
          transition: 0.5s;
  padding-left: 0px;
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%); }

.menu__active {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }

.menu__active2 {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%); }

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.menu__btn {
  width: 30px;
  height: 30px;
  background-color: #fed136;
  border-radius: 50%;
  position: absolute;
  right: -35px;
  top: 10px; }

.menu__btn span,
.menu__btn span::before,
.menu__btn span::after {
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 3px;
  background-color: #222; }

.menu__btn span::before,
.menu__btn span::after {
  content: '';
  display: block;
  -webkit-transition: 0.2s;
          transition: 0.2s; }

.menu__btn span::before {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px); }

.menu__btn span::after {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px); }

.menu__btn_active span:before {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg); }

.menu__btn_active span {
  height: 0; }

.menu__btn_active span {
  margin-top: 1%; }

.menu__btn_active span:after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg); }

.menu__logo {
  width: 100px;
  height: 112px; }

.menu__logo__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px; }

.modal-content {
  width: 360px;
  height: 616px;
  background-color: white;
  border-radius: 4px; }

.modal-popup-img-item {
  /*width: 360px;
  height: 216px;*/
  border-radius: 4px; }

.popup-input, .popup-input2 {
  border: 1px solid #8f8686;
  font-size: 20px;
  border-radius: 7px;
  padding: 5px;
  height: 42px; }

.form-popup-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.popup-button {
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 0 30px;
  height: 50px;
  border-radius: 55px;
  background-color: #3fba1a;
  font-weight: 700;
  margin: 5px 0; }

.header-form-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px; }

.modal-content {
  position: relative; }

.close-popup {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 42px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer; }

.modal-content2 {
  width: 360px;
  height: 625px;
  background-color: white;
  border-radius: 4px; }

.modal-popup-img-item2 {
  width: 360px;
  height: 240px;
  border-radius: 4px; }

.form-popup-item2 {
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.popup-button2 {
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 0 30px;
  height: 50px;
  border-radius: 55px;
  background-color: #3fba1a;
  font-weight: 700; }

.header-form-item2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px; }

.modal-content2 {
  position: relative; }

.close-popup2 {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 42px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer; }

.footer__link {
  text-decoration: none;
  color: white;
  cursor: pointer; }

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.7);
  position: absolute;
  top: 0;
  z-index: 80;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s linear;
          transition: 0.3s linear;
  z-index: 100; }

.bg-modal2 {
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.7);
  position: absolute;
  z-index: 80;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s linear;
          transition: 0.3s linear;
  z-index: 100; }

.bg-modal-enter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  visibility: visible;
  opacity: 1; }

.bg-modal2-enter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  visibility: visible;
  opacity: 1; }

.popup-error {
  font-weight: 600;
  font-size: 11px;
  color: #de5555;
  margin: 1px 0; }

.popup-success-input {
  border: 2px solid #65f06e; }

.success-popup {
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.7);
  position: absolute;
  top: 0;
  z-index: 80;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.4s linear;
          transition: 0.4s linear;
  z-index: 100; }

.success-enter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  visibility: visible;
  opacity: 1; }

.success-body {
  position: relative;
  width: 360px;
  height: 240px;
  background-color: white;
  border-radius: 20px; }

.success-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70%; }

.close-success {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 42px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer; }

.success-button-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.success-button {
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 0 30px;
  height: 50px;
  border-radius: 55px;
  background-color: #3fba1a;
  font-weight: 700;
  width: 60%; }

.errorinput {
  border: 2px solid #ff6666; }

.error-input-file {
  border: 2px solid #ff6666;
  border-radius: 50px;
  padding: 12px; }

.success-input-file {
  border: 2px solid #65f06e;
  border-radius: 50px;
  padding: 12px; }

.errorinput-mail {
  border: 2px solid #ff6666; }

.form-popup-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.popup-label {
  padding: 4px;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 0 1px; }

.ourcompany-button, .advantages-button,
.payments-button-2,
.tobecomethedriver-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.popup-label2 {
  padding: 4px;
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 0 1px; }

.form-popup-group2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.form-popup-body {
  height: 243px; }

.header-logo {
  width: auto;
  height: 200px; }

.imgtest,
.section-advantages-img {
  height: 88px;
  width: 88px; }

.imgtest1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto; }

.section-advantages-img {
  height: auto;
  width: 88px; }

.slick-next:before {
  position: relative;
  color: green;
  right: 20%; }

button.slick-next.slick-arrow {
  right: 11%; }

.slick-prev:before {
  position: relative;
  color: green;
  left: -341px; }

button.slick-prev.slick-arrow {
  z-index: 3;
  left: 11%; }

.slick-prev:before {
  left: -132%; }

.slick-next:before {
  right: 70px; }

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent; }

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25; }

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 50px;
  line-height: 1;
  opacity: 0.75;
  position: relative;
  color: green;
  right: 20%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px; }

.slick-prev:before {
  content: "тЖР"; }

[dir="rtl"] .slick-prev:before {
  content: "тЖТ"; }

.slick-next {
  right: -25px; }

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto; }

.slick-next:before {
  content: "тЖТ"; }

[dir="rtl"] .slick-next:before {
  content: "тЖР"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer; }

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "тАв";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75; }

/*# sourceMappingURL=slick-theme.css.map */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before, .slick-track:after {
  content: "";
  display: table; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }

[dir="rtl"] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
.header {
  background: url("../img/background/bgmin.jpg") no-repeat center top/cover;
  background-blend-mode: multiply;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  box-sizing: border-box; }

.header-title {
  padding: 125px 0; }

.header-h2 {
  font-size: 30px;
  color: #008600;
  text-transform: uppercase;
  margin-top: 43px; }

.header-h3 {
  color: #3fba1a;
  font-weight: 700;
  font-size: 25px;
  padding: 0 10px;
  margin-bottom: 60px;
  margin-top: 20px; }

.header-button {
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 0 30px;
  height: 50px;
  border-radius: 55px;
  background-color: #3fba1a;
  font-weight: 700; }

.autoflash {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.flash {
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.4)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
  height: 60px;
  width: 45px;
  top: 0px;
  left: -105px;
  position: absolute;
  -webkit-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  transform: skewX(-45deg); }

.lighting {
  -webkit-animation: moving 3.5s linear  infinite;
  -ms-animation: moving 3.5s linear  infinite;
  animation: moving 3.5s linear  infinite; }

@-webkit-keyframes moving {
  30% {
    -webkit-transform: skewX(-45deg) translateX(33.5em);
    transform: skewX(-45deg) translateX(33.5em); }
  100% {
    -webkit-transform: skewX(-45deg) translateX(33.5em);
    transform: skewX(-45deg) translateX(33.5em); } }

@keyframes moving {
  30% {
    -webkit-transform: skewX(-45deg) translateX(33.5em);
    transform: skewX(-45deg) translateX(33.5em); }
  100% {
    -webkit-transform: skewX(-45deg) translateX(33.5em);
    transform: skewX(-45deg) translateX(33.5em); } }
.btn__up {
  width: 68px;
  position: fixed;
  bottom: -75px;
  left: 20px;
  z-index: 90;
  outline: 0 !important;
  cursor: pointer;
  -webkit-transition: .4s;
          transition: .4s; }

.btn__up-active {
  bottom: 55px; }

.advantages-h1 {
  font-size: 38px; }

.section-advantages-items {
  padding-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 330px; }

.section-advantages {
  background-color: #ffffff; }

.section-advantages-img {
  max-width: 120px;
  max-height: 88px; }

.advantages-p {
  font-weight: 300;
  font-family: 'Roboto',Arial,sans-serif;
  line-height: 1.55;
  font-size: 12px;
  padding-top: 8px; }

.section-advantages-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.section-advantages-title {
  text-align: center; }

.section-advantages-items-title {
  margin-left: 30px; }

.advantages-h2 {
  font-size: 38px;
  padding-top: 70px; }

.advantages-h4, .advantages-h2 {
  color: #2a6b16;
  font-weight: 600; }

.uppercase {
  text-transform: uppercase; }

.advantages-title-p {
  font-weight: 300;
  font-family: sans-serif;
  padding-top: 20px;
  font-size: 22px; }

.new-uppercase {
  color: #4bd422; }

.advantages-h3 {
  font-weight: bold;
  font-size: 22px;
  padding-top: 20px; }

.advantages-button {
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  padding: 0 30px;
  height: 50px;
  border-radius: 55px;
  background-color: #3fba1a;
  font-weight: 700;
  width: 250px;
  height: 60px; }

.section-advantages-button {
  padding: 70px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.a {
  text-decoration: none; }

.section-ourcompany {
  background: url("../img/background/bg2.jpg") no-repeat center top/cover;
  background-blend-mode: multiply;
  width: 100%; }

.section-ourcompany-title {
  padding: 30px 5px 0;
  max-width: 460px; }

.ourcompany-h2 {
  color: #008600;
  font-size: 68px;
  margin-top: 85px;
  margin-bottom: 30px; }

.ourcompany-p {
  font-size: 18px;
  line-height: 1.55;
  font-weight: 300;
  color: #dae9ee; }

.ourcompany-p2 {
  padding-top: 20px; }

.bold {
  font-weight: 900; }

.ourcompany-button {
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 0 30px;
  height: 50px;
  width: 250px;
  height: 59px;
  background-color: #3fba1a;
  font-weight: 700; }

.section-ourcompany-button {
  padding: 40px 0 90px 0; }

.section-license-paragraph {
  text-transform: uppercase;
  color: #ffffff;
  background-color: black;
  text-align: center;
  width: 300px;
  z-index: 2; }

.section-license-title {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.license-h3 {
  padding: 7px 0;
  font-size: 14px; }

.section-license {
  padding: 50px 0; }

.line_top {
  width: 100%;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.line_top:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #000; }

.license-p-partner {
  color: #2a6b16;
  font-size: 20px;
  line-height: 1.35;
  padding-top: 30px;
  font-weight: bold; }

.license-p {
  font-size: 20px;
  line-height: 1.35;
  padding-top: 30px;
  color: #666363; }

.line_bottopm {
  padding-top: 53px;
  padding-bottom: 21px;
  width: 100%;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.line_bottopm:after {
  content: '';
  position: absolute;
  top: 51%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #000; }

.container-section-payments {
  background: url("../img/background/bg3.jpg") no-repeat center top/cover;
  background-blend-mode: multiply;
  outline: none;
  border: 0; }

.container-section-payments-2 {
  background: url("../img/background/bg3.jpg") no-repeat center top/cover;
  background-blend-mode: multiply;
  outline: none;
  border: 0; }

.payments-button {
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 0 30px;
  height: 50px;
  border-radius: 55px;
  background-color: #3fba1a;
  font-weight: 700;
  width: 250px;
  height: 60px; }

.payments-button-2 {
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 0 30px;
  height: 50px;
  border-radius: 55px;
  background-color: #3fba1a;
  font-weight: 700;
  width: 290px;
  height: 60px; }

.section-payments-button-2 {
  margin-top: 40px;
  margin-bottom: 60px; }

.section-payments-title {
  color: #dae9ee; }

.section-payments-paragraph, .section-payments-text, .section-payments-button, .section-payments-button-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.section-payments-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 102px;
  font-size: 18px; }

.section-payments-paragraph {
  font-size: 32px;
  padding-top: 160px; }

.payments-p {
  padding-top: 20px; }

.payments-p2 {
  padding-bottom: 20px; }

.section-payments-button {
  margin-bottom: 60px;
  margin-top: 40px; }

.payments-h2 {
  padding: 0 20px;
  height: 191px; }

.section-requirements-text {
  width: 240px;
  padding-top: 30px;
  color: #2a6b16;
  font-weight: bold; }

.section-requirements-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-top: 30px; }

.requirements-h2 {
  color: #2a6b16;
  font-weight: 600;
  font-size: 31px;
  padding-top: 40px; }

.section-requirements-text-number-item {
  color: white;
  background-color: #2a6b16;
  width: 19px;
  text-align: center;
  border-radius: 51px;
  padding: 10px 10px;
  border-color: blue;
  border: 2px solid #51bf30; }

.section-requirements-text-number {
  padding-bottom: 11px; }

.section-requirements {
  padding-bottom: 50px; }

.section-bonus {
  background: url("../img/background/bgmin.jpg") no-repeat center top/cover;
  background-blend-mode: multiply;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  box-sizing: border-box; }

.bonus-button {
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 0 30px;
  height: 50px;
  border-radius: 55px;
  background-color: #3fba1a;
  font-weight: 700;
  width: 300px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.section-bonus-paragraph {
  color: white;
  font-size: 28px;
  padding: 120px 13px 0 13px; }

.bonus-h2-color {
  color: #2a6b16; }

.section-bonus-text {
  padding: 60px 24px 0 24px;
  color: white;
  font-size: 24px; }

.section-bonus-button {
  padding-top: 80px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.section-bonussystem-img {
  width: 88px; }

.section-bonussystem-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.section-bonussystem-items-title, .bonussystem-h2 {
  text-align: center; }

.bonussystem-p {
  width: 250px; }

.bonussystem-h4, .bonussystem-h2 {
  color: #2a6b16; }

.bonussystem-h2-color {
  color: #43bf1d; }

.bonussystem-h2 {
  padding: 60px 0 40px 0;
  font-size: 42px; }

.bonussystem-h4 {
  font-size: 22px;
  padding: 25px 0; }

.bonussystem-p-space {
  display: block;
  padding-bottom: 30px; }

.section-bonussystem-items {
  padding-top: 20px; }

.section-license-bonussystem-title {
  padding-top: 34px; }

.section-tobecomethedriver {
  background: url("../img/background/bg4.jpg") no-repeat center top/cover;
  background-blend-mode: multiply;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  box-sizing: border-box; }

.tobecomethedriver-button {
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 0 30px;
  height: 50px;
  border-radius: 55px;
  background-color: #3fba1a;
  font-weight: 700;
  width: 300px;
  height: 60px; }

.section-tobecomethedriver-paragraph {
  color: white;
  font-size: 28px;
  padding: 120px 13px 0 13px; }

.tobecomethedriver-h2-color {
  color: #2a6b16; }

.section-tobecomethedriver-text {
  padding: 60px 24px 0 24px;
  color: white;
  font-size: 24px; }

.section-tobecomethedriver-button {
  padding-top: 80px;
  padding-bottom: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center; */
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.section-registration {
  color: white;
  background: url("../img/background/bgmin.jpg") no-repeat center top/cover;
  background-blend-mode: multiply;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  box-sizing: border-box; }

.form-registration-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.registration-input, .form-registration-group {
  width: 300px; }

.form-registration-group-item {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.file-registration-item {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px; }

.file-registrationcertificate {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px; }

.registration-label {
  text-align: left;
  padding-top: 20px;
  margin-bottom: 10px; }

.registration-label-2 {
  padding-bottom: 20px; }

.registration-input {
  font-size: 20px;
  border-radius: 7px;
  padding: 15px; }

.registration-h2 {
  padding: 50px 0 30px 0;
  color: #329e00;
  font-size: 45px; }

.section-registration-text {
  color: #329e00; }

.file-registration-item input[type=file] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.title-button-registration {
  border: 2px solid green;
  border-radius: 50px;
  padding: 12px; }

.control-file-registration {
  padding-top: 30px; }

.button-registration {
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 0 30px;
  height: 50px;
  border-radius: 55px;
  background-color: #3fba1a;
  font-weight: 700;
  width: 300px;
  height: 60px; }

.button-registration-item {
  margin: 40px 0; }

.title-button-registration {
  cursor: pointer; }

.popularquestions-h2 {
  text-align: center;
  color: #008600;
  padding-top: 40px; }

.section-popularquestions-title {
  padding-bottom: 40px; }

.section-ordercall {
  background: url("../img/background/bg4.jpg") no-repeat center top/cover;
  background-blend-mode: multiply;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  box-sizing: border-box; }

.ordercall-button {
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  padding: 0 30px;
  height: 50px;
  border-radius: 55px;
  background-color: #3fba1a;
  font-weight: 700;
  width: 300px;
  height: 60px; }

.section-ordercall-button {
  padding-top: 80px;
  padding-bottom: 120px; }

.footer-logo {
  width: 100px; }

.section-footer-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.section-footeritems {
  width: 250px;
  padding: 20px 15px 0 15px; }

footer {
  background-color: black;
  color: white; }

.site__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0; }

.section-footer-h2 {
  text-align: center;
  padding-top: 30px; }

.section-footer-text {
  padding-top: 15px; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

@media (max-width: 940px) {
  .container {
    width: 100%;
    margin: 0 auto; } }
@media (max-width: 450px) {
  button.slick-prev.slick-arrow {
    z-index: 3; } }
@media (max-width: 538px) and (min-width: 451px) {
  .slick-prev:before {
    top: 5px;
    border: 0;
    position: absolute; } }
@media (max-width: 410px) {
  .ourcompany-h2 {
    font-size: 40px; } }
@media (max-width: 370px) {
  .popup-input2, .popup-input {
    height: 29px; }

  .success-body {
    width: 300px;
    height: 322px; }

  .modal-content2 {
    width: 300px;
    height: 528px;
    background-color: white;
    border-radius: 4px; }

  .popup-input {
    width: 200px; }

  .popup-input2 {
    width: 200px; }

  .modal-popup-img-item2 {
    width: 300px;
    height: 200px;
    border-radius: 4px; }

  .section-payments-paragraph {
    font-size: 26px; }

  .modal-content {
    width: 300px;
    height: 507px;
    background-color: white;
    border-radius: 4px; }

  .modal-popup-img-item {
    width: 100%;
    height: 174px;
    border-radius: 4px; }

  button.slick-prev.slick-arrow {
    z-index: 3; }

  .registration-input {
    height: 27px;
    width: 90%; } }
@media (max-width: 350px) {
  .tobecomethedriver-button, .bonus-button, .payments-button-2 {
    width: 187px; } }
@media (min-width: 950px) {
  button.slick-next.slick-arrow {
    right: 9%; }

  button.slick-prev.slick-arrow {
    z-index: 3;
    left: 9%; } }
@media (min-width: 370px) {
  .header-form-item, .header-form-item2 {
    padding-top: 62px; } }
