.section-bonussystem-img
{
	width: 88px;
}
.section-bonussystem-item
{
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.section-bonussystem-items-title ,.bonussystem-h2
{
	text-align: center;
}
.bonussystem-p
{
	width: 250px;
}
.bonussystem-h4, .bonussystem-h2
{
color:#2a6b16;
}
.bonussystem-h2-color
{
	color:#43bf1d;
}
.bonussystem-h2
{
	padding:60px 0 40px 0;
font-size: 42px;
}
.bonussystem-h4
{
font-size: 22px;
padding:25px 0;
}
.bonussystem-p-space
{
	display: block;
	padding-bottom:30px;
}
.section-bonussystem-items
{
	padding-top: 20px;
}
.section-license-bonussystem-title
{
	padding-top: 34px;
}