html,body
{
	font-family: 'Roboto',Arial,sans-serif;
	margin:0;
	padding:0;
 
}
.container
	{
		width: 940px;
		margin: 0 auto;
	}
 
input, button {
    outline: none;
    border: none;
}
h2,h1,h4,h3,p
{
	padding:0;
	margin: 0;
}
a
{
	text-decoration:none;
}
.navBurger {
	z-index: 99;
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
    background:#30ac0b;
    box-sizing: border-box;
    background-clip: content-box;
    width: 30px;
    height: 24px;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    &:before,
    &:after {
        content: "";
        position: absolute;
        background: #30ac0b;
        height: 2px;
        width: 100%;
        right: 0;
        will-change: rotate;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    &:before {
        top: -10px;
    }
    &:after {
        bottom: -10px;
        width: 90%;
    }
    &.active {
        background: transparent;
        background-clip: content-box;
    }
    &.active:before {
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        top: 0;
        background: #eee;
        width: 110%;
    }
    &.active:after {
        bottom: 0;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
        background: #eee;
        width: 110%;
    }
}
.menu__link
	{
		color: #ffffff;
		text-decoration: none; /*убирает нижнее подчеркивание*/
		text-transform: uppercase; /*Буквы капсом*/
		transition: 0.4s;
		list-style-type: none;
	}
	.menu__link_active
	{
		color: #3fba1a;
	}
li{
	list-style-type:none;
}

	 .menu__list
		{
			padding-left: 0px;
		}
	.header__menu
		{
			flex-direction: column;
			color: #fff;
			position: fixed;
			left: 0;top: 0;
			z-index: 91;
			width: 50%;
			height: 100vh;
			display: flex;
		 
			 
			background-color: rgba(0, 0, 0, 0.7) ;
			transition: 0.5s;
			padding-left: 0px;
			transform: translateX(200%);	 
		}
	.menu__active 
		{
	  		transform: translateX(100%);
		}
		.menu__active2
		{
	  		transform: translateX(-100%);
		}
	 	 
	.menu__list
		{
			display: flex;
			justify-content: space-around;
			align-items: center;
			height: 50%;
			flex-direction: column;
		} 
	.menu__btn 
		{
			width: 30px;
			height: 30px;
			background-color: #fed136;
  			border-radius: 50%;
			position: absolute;
			right: -35px;
			top: 10px;
		}
	.menu__btn span::before,
	.menu__btn span::after 
	{
		 
	}
	.menu__btn span{
		 
	}
	.menu__btn span,
	.menu__btn span::before,
	.menu__btn span::after 
		{
		  position: absolute;
		  top: 50%; margin-top: -1.5px;
		  left: 50%; margin-left: -10px;
		   width: 20px;
		  height: 3px;
		  background-color: #222;
		}
	.menu__btn span::before,
	.menu__btn span::after 
		{
		  content: '';
		  display: block;
		  transition: 0.2s;
		   
		}
	.menu__btn span::before
		{
		  	transform: translateY(-5px);
		}
	.menu__btn span::after
		{
		 	transform: translateY(5px);
		}

	.menu__btn_active span:before 
		{
		  	transform: rotate(-40deg);
		}
	.menu__btn_active span
		{
			height:0;
		}
	.menu__btn_active span
		{
			margin-top: 1%;
		}
	.menu__btn_active span:after 
		{
		  transform: rotate(40deg);
		}
.menu__logo
{
	width: 100px;
	height:112px;
}
.menu__logo__item
{
	display:flex;
	justify-content: center;
	padding-top:20px;
}
 
.modal-content
{
	width: 360px;
	height: 616px;
	background-color:white;
	border-radius:4px;
}
.modal-popup-img-item
{
	width: 360px;
    height: 216px;
	border-radius:4px;

}
.popup-input,.popup-input2
{
	border:1px solid #8f8686;
	font-size: 20px;
 	border-radius: 7px;
 	padding: 5px;
 	// margin-top:10px;
 	height: 42px;



}
 
.form-popup-item
{
	display:flex;
	justify-content: center;
	flex-direction: column;
    align-items: center;
    
}
.popup-button
{
	cursor: pointer;
    color: #ffffff;
    font-size: 14px;
  	padding:0 30px;
    height: 50px;
    border-radius: 55px;
    background-color: #3fba1a;
    font-weight: 700;
    margin: 5px 0;
}
.header-form-item
{
	display:flex ;
	justify-content: center;
	padding-top:15px;

}
.modal-content
{
	position: relative;
 
}
.close-popup
{
 
	position: absolute;
	top:0;
	right: 15px;
	font-size:42px;
	transform:rotate(45deg);
	cursor:pointer;
}
.modal-content2
{
	width: 360px;
	height: 625px;
	background-color:white;
	border-radius:4px;
}
.modal-popup-img-item2
{
	width: 360px;
	height:240px;
	border-radius:4px;

}

.form-popup-item2
{
	display:flex;
	justify-content: center;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
     
    justify-content: center;
     
    flex-direction: column;
    
    align-items: center;
}
.popup-button2
{
	cursor: pointer;
    color: #ffffff;
    font-size: 14px;
  	padding:0 30px;
    height: 50px;
    border-radius: 55px;
    background-color: #3fba1a;
    font-weight: 700;
}
.header-form-item2
{
	display:flex ;
	justify-content: center;
	padding-top:15px;

}
.modal-content2
{
	position: relative;
 
}
.close-popup2
{
 
	position: absolute;
	top:0;
	right: 15px;
	font-size:42px;
	transform:rotate(45deg);
	cursor:pointer;
}
.footer__link
{
	text-decoration:none;
	color: white;
	cursor:pointer;
}
 .bg-modal
 { 
	width: 100%;
	height:100%;
	background-color: rgba(10, 10, 10, 0.7);
	position: absolute;
	top: 0;
	z-index:80;
	display:flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s linear;
	z-index: 100;	
}
.bg-modal2
{
	width: 100%;
	height:100%;
	background-color: rgba(10, 10, 10, 0.7);
	position: absolute;
	z-index:80;
	display:flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top:0;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s linear;
	z-index: 100;
}
.bg-modal-enter
{
	display:flex;
	overflow-y: hidden;
	visibility: visible;
  	opacity: 1;
}
.bg-modal2-enter
{
	display:flex;
	overflow-y: hidden; 
	visibility: visible;
  	opacity: 1;  
}
.popup-error
{
	font-weight: 600;
    font-size: 11px;
    color: #de5555;
    margin: 1px 0;
}
.popup-success-input
{
	border:2px solid #65f06e;
	// margin:10px 0;
	 
}
 .success-popup
 { 
	width: 100%;
	height:100%;
	background-color: rgba(10, 10, 10, 0.7);
	position: absolute;
	top: 0;
	z-index:80;
	display:flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	visibility: hidden;
	opacity: 0;
	transition: 0.4s linear;
	z-index: 100;	
}
.success-enter
{
	display:flex;
	visibility: visible;
  	opacity: 1;
}
.success-body
{
	position: relative;
	width: 360px;
	height: 240px;
	background-color: white;
	border-radius:20px;
}
.success-text
{
	display:flex;
	align-items: center;
	justify-content: center;
	height:70%;
}
.close-success
{
 
	position: absolute;
	top:0;
	right: 15px;
	font-size:42px;
	transform:rotate(45deg);
	cursor:pointer;
}
.success-button-item
{
	display:flex;
	justify-content: center;
}
.success-button
{
	cursor: pointer;
    color: #ffffff;
    font-size: 14px;
  	padding:0 30px;
    height: 50px;
    border-radius: 55px;
    background-color: #3fba1a;
    font-weight: 700;
    width: 60%;
}
.errorinput
{
	border:2px solid #ff6666;

}
.error-input-file
{
	border:2px solid #ff6666;
	border-radius:50px;
 	padding: 12px;
}
.success-input-file
{
 
	border:2px solid #65f06e;
	// margin:10px 0;
	 border-radius:50px;
 	padding: 12px;
 
}
.errorinput-mail
{
	border:2px solid #ff6666;

}
.form-popup-group
{
	display:flex;
	flex-direction: column;
}
.popup-label
{
	padding:4px;
	font-size: 13px;
	font-weight:bold;
	margin: 0 0 0 1px;
}
.ourcompany-button , .advantages-button ,
 .payments-button-2 ,   
 .tobecomethedriver-button
{
	display: flex;
    align-items: center;
    justify-content: center;
}
.popup-label2
{
	padding: 4px;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 0 1px;
}
.form-popup-group2
{
    display: flex;
    flex-direction: column;
}
.form-popup-body
{
	height: 243px;
}
.header-logo
{
	width: auto;
	height:200px;
}
 
.imgtest,
.section-advantages-img,

{
	height:88px;
	width:88px;
}
.imgtest1  
{
	display:flex;
	justify-content: center;
	align-items: center;
	width: auto;
}
.section-advantages-img
{
	height:auto;
	width:88px;
}
.slick-next:before 
 {
 
    position: relative;
  color: green;
  right: 20%;
 
 }
 button.slick-next.slick-arrow
 {
  
  // right: 11% !important;
  right: 11% ;
 }
  .slick-prev:before 
 {
 
  position: relative;
      color: green;
left: -341px ;
 }
 button.slick-prev.slick-arrow
 {
  
   z-index: 3;
  left: 11% ; 
 }

 .slick-prev:before {
   
 
    left: -132%;
}
.slick-next:before {
       right: 70px;
  
    
}
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 50px;
    line-height: 1;
 
    opacity: 0.75;
     position: relative;
  color: green;
  right: 20%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
  }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*# sourceMappingURL=slick-theme.css.map */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*# sourceMappingURL=slick.css.map */
