.header
    {
 
    background: url("../img/background/bgmin.jpg") no-repeat center top / cover ;
    background-blend-mode: multiply;
    width: 100%;
    
    display: flex;
    text-align: center;
box-sizing:border-box;

    }
.header-logo
{
	// width: 200px;
}
.header-title
{
	    padding: 125px 0;
}
.header-h2
{
	font-size: 30px;
	color: #008600;
    text-transform: uppercase;
    margin-top:43px;
}
.header-h3
{
color:#3fba1a;
font-weight: 700;
font-size: 25px;
padding: 0 10px;
margin-bottom: 60px;
margin-top: 20px;
}
.header-button
{
	cursor: pointer;
    color: #ffffff;
    font-size: 14px;
  	padding:0 30px;
    height: 50px;
    border-radius: 55px;
    background-color: #3fba1a;
    font-weight: 700;
}
.autoflash{
        position: relative;
        overflow: hidden;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

.flash{
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
      background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .4)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
    background: -o-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
    height: 60px;
    width: 45px;
    top: 0px;
    left: -105px;
    position: absolute;
    -webkit-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    transform: skewX(-45deg);
    }
    
.lighting {
    -webkit-animation: moving 3.5s linear  infinite;
    -moz-animation: moving 3.5s  linear infinite;
    -ms-animation: moving 3.5s linear  infinite;
    -o-animation: moving 3.5s linear  infinite;
    animation: moving 3.5s linear  infinite;
   
    }
  @keyframes moving {  
     30% {  -webkit-transform: skewX(-45deg) translateX(33.5em);
        transform: skewX(-45deg) translateX(33.5em);   
        
        }
   
    100% {  -webkit-transform: skewX(-45deg) translateX(33.5em);
        transform: skewX(-45deg) translateX(33.5em);   
        
        }
     }
     .btn__up{
        width: 68px;
    position: fixed;
    bottom: -75px;
    left: 20px;
    // background: url('../img/uparrow.png') no-repeat center top / cover;

    // border-radius: 50%;
    // border: 2px solid black;
    // background: #fed136;
    z-index: 90;
    outline: 0!important;
    cursor: pointer;
    transition: .4s;
        // &:after
        // {
         
        // width: 10px;
        // height: 10px;
        // border-top: 2px solid black;
        // border-left: 2px solid black;
        // transform: rotate(45deg);
        // position: absolute;
        // top: 4px;
        // bottom: 0;
        // left:0;
        // right:0;
        // margin: auto;
        // }
        // &:hover
        // {
        //     background: black;
        //     border: 2px solid #fed136;
        // }
        // &:hover:after
        // {
         
        //     border-top: 2px solid  #fed136;
        //     border-left: 2px solid  #fed136;
        // }
}
 
.btn__up-active
{
    bottom: 55px;
}