.section-license-paragraph
{
	text-transform:uppercase;
	color: #ffffff;
	background-color:black;
	text-align: center;
	width: 300px;
	z-index: 2;

}
.section-license-title
{
	text-align: center;
	display:flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.license-h3
{
	padding:7px 0;
	font-size: 14px;
}
.section-license
{
	padding:50px 0;
}
.line_top
{
	width: 100%;
    text-align: center;
    position: relative;
    display:flex;
    justify-content: center;
}
.line_top:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #000;
}
.license-p-partner
{
	color: #2a6b16;
	font-size: 20px;
	line-height: 1.35;
	padding-top:30px;
	font-weight:bold;
}
.license-p
{
	font-size: 20px;
	line-height: 1.35;
	padding-top:30px;
	color: #666363;
}
.line_bottopm
{
	padding-top:53px;
	padding-bottom: 21px;
	width: 100%;
    text-align: center;
    position: relative;
    display:flex;
    justify-content: center;
}
.line_bottopm:after {
    content: '';
    position: absolute;
    top: 51%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #000;
}