@media   (max-width: 940px)  
{
	.container
	{
		width: 100%;
		margin: 0 auto;
	}
}
@media (max-width:450px)
{
	button.slick-prev.slick-arrow {
    // z-index: 3 !important;...............................
      z-index: 3 ;
    // left: 86% !important;
}
button.slick-next.slick-arrow {
    // right: 14% !important;
}
.slick-next:before {
    
     
  // left: -23%!important;
}
 }
 @media (max-width:538px) and (min-width: 451px) 
{
	 .slick-next:before {
         // position: unset!important;
 
}
.slick-next:before {
   
    // right: 147% !important;
}
 .slick-prev:before {
    // left: -71% !important;
    top: 5px;
    // border: 0 !important;
    // position: absolute!important;.....................
     border: 0 ;
    position: absolute;
}
}
@media (max-width: 410px)
{
	.ourcompany-h2 {
   
    font-size: 40px;
   
}
}
@media (max-width:370px)
{
    .popup-input2, .popup-input
    {
        height: 29px;
    }
    .success-body
    {
        width: 300px;
        height:322px;
    }
    .modal-content2
{
    width: 300px;
    height:528px;
    background-color:white;
    border-radius:4px;
}
    .popup-input {
      
    width: 200px;
   
}
.popup-input2 {
    width: 200px;
   
}
.modal-popup-img-item2
{
    width: 300px;
    height:200px;
    border-radius:4px;

}
 
	.section-payments-paragraph {
    font-size: 26px;
     
    
}
.modal-content {
    width: 300px;
    height: 507px;
    background-color: white;
    border-radius: 4px;
}
.modal-popup-img-item
{
   width: 100%;
    height: 174px;
    border-radius:4px;

}
button.slick-prev.slick-arrow {
    // z-index: 3 !important;..........
     z-index: 3;
    // left: 12% !important;
}
 
.registration-input
{
    height: 27px;
    width: 90%;
}
}

 @media (max-width:350px)
{
    .tobecomethedriver-button , .bonus-button, .payments-button-2
    {
        width: 187px;
    }
}
@media (min-width:950px)
{
    button.slick-next.slick-arrow
 {
  
    // right: 9% !important;..............
      right: 9%;
 }
button.slick-prev.slick-arrow
 {
 // z-index: 3!important;
 //  left: 9% !important;........................
   z-index: 3;
  left: 9% ;    
 }
}
@media (min-width:370px)
{
  .header-form-item,  .header-form-item2 {
    
    padding-top: 62px;
}
    
}