.section-ourcompany
{
	background: url("../img/background/bg2.jpg") no-repeat center top / cover ;
	background-blend-mode: multiply;
	width: 100%;
	 
}
.section-ourcompany-title
{
	padding:30px 5px 0  ;
	max-width: 460px;
}
.ourcompany-h2
{
	 
color: #008600;
font-size: 68px;
margin-top:85px;
margin-bottom:30px;
}
.ourcompany-p
{
	font-size: 18px;
	line-height: 1.55;
	font-weight: 300;
color: #dae9ee;
}
.ourcompany-p2
{
	padding-top:20px;
}
.bold
{
	font-weight: 900;
}
.ourcompany-button
{
	cursor: pointer;
    color: #ffffff;
    font-size: 14px;
  	padding:0 30px;
    height: 50px;
 	width: 250px;
 	height:59px;
    background-color: #3fba1a;
    font-weight: 700;
}
.section-ourcompany-button
{
	padding:40px 0 90px 0;
}