.container-section-payments
{
	background: url("../img/background/bg3.jpg") no-repeat center top / cover ;
	background-blend-mode: multiply;
	 
	 
	// outline: none!important;
	//  border: 0!important;ююююююююююююююююю
  outline: none;
   border: 0;
}
.container-section-payments-2
{
background: url("../img/background/bg3.jpg") no-repeat center top / cover ;
	background-blend-mode: multiply;
	 // outline: none!important;
  //  border: 0!important;...............
		
	outline: none;
	 border: 0;
}
.payments-button
{
	cursor: pointer;
    color: #ffffff;
    font-size: 14px;
  	padding:0 30px;
    height: 50px;
    border-radius: 55px;
    background-color: #3fba1a;
    font-weight: 700;
    width: 250px;
    height:60px;
}
.payments-button-2
{
		cursor: pointer;
    color: #ffffff;
    font-size: 14px;
  	padding:0 30px;
    height: 50px;
    border-radius: 55px;
    background-color: #3fba1a;
    font-weight: 700;
    width: 290px;
    height:60px;

}
.section-payments-button-2
{
 margin-top: 40px;
 margin-bottom:60px;
}
.section-payments-title
{
	    color: #dae9ee;
}
.section-payments-paragraph, .section-payments-text, .section-payments-button, .section-payments-button-2
{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}
.section-payments-text
{
flex-direction: column;
 height:102px;
 font-size: 18px;
}
.section-payments-paragraph
{
font-size: 32px;
padding-top:160px;
}
 
 .payments-p
 {
padding-top:20px;
 }
 .payments-p2
 {
padding-bottom: 20px;
 }
 .section-payments-button
 {
 	margin-bottom:60px;
 	margin-top:40px;
 }
 .payments-h2
 {
 	padding:0 20px;
 	height: 191px;
 }
//   .slick-next:before 
//  {
  
//     position: relative;
//   color: green;
//   right: 20%;
 
//  }
//  button.slick-next.slick-arrow
//  {
  
  
//   right: 11% ;
//  }
//   .slick-prev:before 
//  {
 
//   position: relative;
//       color: green;
// left: -341px ;
//  }
//  button.slick-prev.slick-arrow
//  {
  
//    z-index: 3;
//   left: 11% ; 
//  }
//  .slick-prev:before, .slick-next:before 
//  {
 	 
//     font-size: 50px;
//  }
//  .slick-prev:before {
  
//     left: -132%;
// }
// .slick-next:before {
//        right: 70px;
  
    
// }
 
 