.application
{
	background-color: #F3F6FA;
}
.aplication-body
{
	padding:177px 0;
}
.aplication-body__img
{
	    width: 560px;
    height: 297px;
}
.aplication-body__items
{
	    display: flex;
    align-items: center;
   justify-content: space-between;
}
.aplication-body__list
{
	width: 540px;
height: 354.5px;
}
.aplication-body__title
{
font-size: 32px;
line-height: 40px;
letter-spacing: 0.1px;
 
}
.aplication-body__description
{
	padding-bottom: 40px;
	color:#737B7D;
}
.aplication-body__description-point
{
	padding: 32px 0;
}
.aplication-body__main-button
{
	margin-right: 24px;
	height: 100%;
	border: 1px solid #3C64B1;
}
.aplication-body__main-button:hover
{
	border: 1px solid #3C64B1;
}
.aplication__body-items-second
{
	justify-content: space-between;
}
.aplication__body-img-second
{
	height: 429px;
	width: 540px;
}
.aplication-body__list-second
{
	height: 251px;
}
.aplication-body__description-second
{
	padding-bottom: 33px;
}
.aplication-body__description-point-second
{
	padding: 45px 0 0 0;
 
}