@media screen and (min-width: 1100px) {
  .menu-burger-cross
  {
  	display: none;
  }
}
@media screen and (max-width: 900px) {
  body
  {
  	 
  }
}
@media  (min-width: 500px) {
.burger-menu
{
	display: none;
}

.header__body-img-mob
	{
		display: none;
	}
	.aplication-body__img-mob
	{
		display: none;
	}
	.footer-body__item
	{

	}
.second-footer-item
{
	height: 164px;
}

}

/*@media  (max-width: 376px) {*/
	@media  (max-width: 500px) {

		.burger-menu-active
		{
			opacity: 0;
		}

	.aplication-body__description-point-second
	{
		padding: 17px 0 0 0;
	}
	.aplication-body__description-second
	{
		padding-bottom: 24px;
	}
	.menu-items__list-link,
	.menu-items__list-link-body
	{
		visibility: hidden;

		opacity: 0;
	}
	.menu-items__list-link-active,
	.menu-items__list-link-body-active
	{
visibility:visible;
		opacity: 1;
	}
	.body-active-menu
	{
		overflow: hidden;
	}
	.header__menu
	{
		z-index: 2;
	}
	.header__menu-bg,
	.header__menu-bg-active
	{
		transition: 1s linear;
	}
.header__menu-bg-active 
{
	 
    position: fixed;
	/*position: absolute;*/
	height: 200%;
	width:100%;
transition: 1s linear;
	z-index:99;
	background-color: #00000099;
}
  .section 
  	{
	    width: 100%;
	    margin: 0 auto;
	}
	.logo
	{
		width: 112px;
		height: 42px;
	}
	.logo__title
	{
		font-size: 19px;
		line-height: 16.76px;
		letter-spacing: 0.2px;
 
	}
	.associate-body
	{
		width: 375px;
		margin: 0 auto;
	}
	.associate-body__list {
    text-align: left;
    width: 375px;
    margin: 0 auto;
}
.associate-body__title,
.associate-body__description
{
	width: 295px;
	margin: 0 auto;

}
	.header__menu-items
	{
		width: 326px;
		height: 42px;
		position: relative;
	}
	.header__menu
	{
		display: flex;
		align-items: center;
		width: 375px;
		height: 72px;
	}
	.menu-items
	{
		 
		display: block;
		position: fixed;
		top: -1px;
		    width: 348px;
		left: -1px;
		overflow-y: auto;
		background-color: #ffffff;
		visibility: hidden;
		opacity: 0;
		bottom: -649px;
		transition: 0.5s linear;
	}
	.menu-items-active
	{
		width: 90%;
		height: 709px;
		visibility: visible;
		opacity: 1;
		z-index: 999;
 
	}
	.menu-items__list-link
	{
		color: #393939;
		    border-bottom: 1px solid rgba(60, 100, 177, 0.1);
	}

	.menu-burger-cross__body
	{
		    width: 85%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
	}
	.menu-burger-cross
	{
	position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
	}
	.span4,
	.span5
	{
		position: absolute;
	} 
	.span5
	{
	 transform: rotate(-45deg);
	}
	.span4
	{
		 transform: rotate(45deg);

	}
	.span-body
	{
		width: 15px;
		height: 15px;
		    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
	}
	.span5,
	.span4
	{
		border-radius: 50px;
		width: 2px;
	    height: 19px;
		background-color: #111111;
	}
	.sub-menu__link
	{
		color: #757575;
	}
	.menu-items__list-contact
	{
		display: none;
	}
	.menu-items__list-links
	{
justify-content: initial;
	}
	.menu-items__list-links
	{
		position: fixed;
    top: 70px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
	flex-direction: column;
	width: 80%;
	align-items: baseline;
	 visibility: hidden;

	}
	.menu-items__list
	{
		padding: 0;
	 
	}
 
	.sub-menu__link
	{
		    width: 100%;
		    height: 100%;
		 
		    	padding: 10px 0 10px 20px;
	}

	.menu-items__list-link
	{
		/*height: 100%;*/
		    height: 38.6px;
		    width: 100%;
		    padding: 10px 0 10px 11px;
		    background-color: #ffffff;
	}
 
	.list-link__sub-menu
	{
		margin: 10px 0;
	}
 
	.sub-menu__items
	{
		padding: 0;
	 display: flex;
		opacity: 0;
		visibility: hidden;
		position: relative;
		top: 0;
		width: 100%;
	}
	.sub-menu__items-active
	{
			opacity:1;
		visibility:visible;
	}
	 
 
	.menu-burger-cross
	{
		display: flex;
		width: 100%;
		height: 70px;
		background-color: #F4F6FA;
	}
	.menu-items__list-link-body
	{
		width: 100%;
		background-color: #ffffff;
		display: flex;
		flex-direction: column;
	}

	.burger-menu
	{
		width: 27px;
		height: 15px;
		flex-direction: column;
		align-items: center;
 		justify-content: space-between;
    	display: flex;
    	cursor: pointer;
	}
	.span1
	{
		transform-origin: left top; 
		transition: all 0.9s;
	}
	.span3
	{
		transform-origin: left bottom; 
		transition: all 0.9s;
	}
	.span2
	{
		transition: all 0.2s;
	}
	.span1,
	.span2,
	.span3
	{
		width: 100%;
		background-color: #C3CBCD;
		height: 3px;
	}
	 
	.span3-active
	{
		transform: rotateZ(-27deg);
		width: 100%;
	}
	.span1-active
	{
		transform: rotateZ(27deg);
		width: 100% ;
	}
	.span2-active
	{
		visibility: hidden;
	}
	 
	.header__body-img,
	.aplication-body__img
	{
		display: none;
	}
	.header__body-img-mob
	{
		display: block;
		width: 295px;
		height: 177px;
		padding-bottom: 17px;
	}
	.aplication-body__img-mob
	{
		width: 295px;
		height: 248px;
	}
	.aplication-body__buttons
	{
		display: flex;
    align-items: center;
    justify-content: center;
	}
	.aplication-img-mob-body
	{

    display: flex;
    align-items: center;
    justify-content: center;
 
	}
	.aplication-body__main-button
	{
		margin: 0;
	}
	.header__body-text
	 {
	    height: 457px;
	    position: relative;
	    width: 375px;
	    display: flex;
	    flex-direction: column;
	    left: 0;
	    bottom: 0;
	    align-items: center;
	}
	.aplication-body__buttons-second
		{
			display: block;
			width: 295px;
    margin: 0 auto;
		}
.header__body-descrittion,
.header__body-title
{
	width: 295px;
	     
}
.aplication-body__description,
.aplication-body__title
{
	width: 295px;
	margin: 0 auto;
}
.header__body-descrittion
{
	padding-bottom: 24px;
}
.header__body-title
{
padding-bottom: 13px;
}
.header__body-title-subtitle,
.header-button-body
{
	width: 295px;
}
.header-button-body
{

}
.header__body
{
	width: 375px;
}
.header__body-title-subtitle
{
	padding-bottom: 9px;
}
.header__body-descrittion,
.sender-body__item-text,
.aplication-body__description,
.associate-body__description
{
	font-size: 14px;
	line-height: 24.5px;
	letter-spacing: 0.3px;
}
.aplication-body
{
	padding: 40px 0;
}
.aplication-body__second-button
{
	display: none;
}
.header__body-title
{
	font-size: 28px;
	line-height: 33.89px;
	letter-spacing: 0.2px;
}
.associate-body__title {
   
    padding: 27px 0 16px 0;
}
.sender-body__title,
.aplication-body__title,
.associate-body__title
{
	font-size: 24px;
	line-height: 30.12px;
	letter-spacing: 0.1px;
}
.header__body-title-subtitle
{
	font-size: 15px;
	line-height:18px;
	letter-spacing: 0.4px;
}
.header__body-items
{
	height: 580px;
}
.sender-body
{
	height: auto;
	   /* height: 869px;*/
	justify-content: space-between;
    flex-direction: column;
}
.sender-body__description
{
	width: 375px;
}
.sender-body__items
{
	flex-direction: column-reverse;
	align-items: center;
	padding-bottom: 26px;
}
.sender-body__item
{
	width: 295px;
}
.aplication-body-second
{
	padding: 56px 0;
}
.sender-body__title
{
	 
	width: 294px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.sender-body__form {
    height: 480px;
    width: 375px;
}
 
 
.sender-body__item {
    width: 295px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sender-body__item-text
{
	width: 240px;
	padding-bottom: 20px;
}
/*.send-body-form2 {
    overflow: hidden;
    height: 0;
    -webkit-transition: all 1s;
    transition: all 1s;
}*/
.sender-body__description
{
	height: auto;
}
.sender-body__form2
{
	height:600px;
}
.send-body-form2-active
{
    height: 600px;
}
 
.sender-body__form2 {
   margin-bottom: 0;
}
.sender-body__item-img {
    width: 48px;
    height: 86px;
}
.aplication-body__list {
    width: 375px;
    height: auto;
}
 
.footer-body__items
{
	    flex-direction: column;
}
.footer-body__item{
    /*width: 295px;*/
    width: 86%;
    /* align-items: center; */
    flex-direction: column;
    display: flex;
    /* justify-content: space-between; */
 
}
.footer__copyight-item {
    font-family: Roboto-Regular;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.3px;
    color: #000000;
}
.footer__copyight
{
	padding-bottom: 27px;
 
	display:flex;
	align-items: center;
	justify-content: center;
}
.footer__copyight-item
{
	width: 295px;
}
.application,
.aplication-body,
.footer-body
{
	background-color: #F4F6FA;
}
/*.container
{
	width: 375px;
}*/
.associate__body-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 51px;
    width: 255px;
        margin: 0 auto;
}
#sliderRight {
    position: relative;
    left: -24px;
}
#sliderLeft {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 18px;
    height: 31px;
    right: -24px;
    position: relative;
}
.send-body-form2__body,
.send-body-form2-active ,
.footer-body,
.sender-body__form,
.aplication-body__list,
.sender-body__description,
.associate-body,
.associate-body__list,
.header__menu,
.header__body-text,
.header__body,
.sender-body__description,
.aplication-body__list 
{
	width: 100%;
}
.send-body-form2-active {
    height: 600px;
    
}
.sender-body__info
{
	width: 220px;
}
.sender-body__info-circle {
    width: 32px;
    height: 26px;
    line-height: 24px;
    text-align: center;
    border-radius: 50px;
    border: 1.5px solid #767676;
    cursor: pointer;
    color: #767676;
}
 .active-circle-circle {
    border: 1.5px solid #000;
    cursor: pointer;
    color: #000;
}
 
.sender-body__description-second
{
	padding-top: 56px;
}
	  
}
@media  (max-width: 340px) 
{
	#sliderLeft {
    -webkit-transform: rotate(
180deg
);
    -ms-transform: rotate(180deg);
    transform: rotate(
180deg
);
    width: 18px;
    height: 31px;
    right: -9px;
    position: relative;
}
#sliderRight {
    position: relative;
    left: -9px;
}

}